.heading-three{
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 100px;
}
.hero-section3{
    margin-top: 200px;
    margin-bottom: 200px;
}
.Button-three{
    border-radius: 5px;
    background-color: black;
    color: white;
    padding: 8px 10px 8px 10px;
    width: 100%;
    margin: 30px 50px 0px 0px ;
    font-family: Averta-Regular,sans-serif;
    display: block;  
      
}

.cards{
    display: flex;
}

.card-1{
    border: none;
    margin-right: 10px;
    padding: 10px;
    background-color: rgb(234, 123, 123);
}
.card-2{
    border: none;
    padding: 10px;
    background-color: rgb(102, 102, 235);
}
.paraCard2{
    margin-bottom: 20px;
}
.card-1-bottom{
    display: block;
    margin-top: 150px;
    
}
.card-2-bottom{
    display: block;
    margin-top: 100px;
    width: 100%;
}
